body {
    background-color: black;
}
.body {
    background-color: black;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-inline-end: auto;
    margin-inline-start: auto;
    margin-block-start: auto;
    margin-block-end: auto; 
}
h1 {
    text-align: center;
    font-size: 250;
    margin-top: 200px;
    color: gold;
}
.hyperlink {
    text-align: center;
}
.css-photoexp {
    color: white;
}
.intro-exp {
    color: white;
    text-align: center;
}
.intro-anosite {
    text-align: center;
    color: blue;
    outline-color: blue;
}
.hpl {
    text-align: center;
    text-decoration-color: white;
}
.artint {
    color: turquoise;
    font-size: medium;
    background-color: black;
}
.mywork {
    font-size: x-large;
}
.intro {
    font-size: x-large;
}
.seso-main {
    font-size: 110px;
}
#replace {
    text-align: center;
    font-size: x-large;
}
#like {
    color: red;
}
span:nth-child(1) {
    color: rgb(66 133 244);
}
span:nth-child(2) {
    color: rgb(234 67 53);
}
span:nth-child(3) {
    color: rgb(251 188 5);
}
span:nth-child(4) {
    color: rgb(66 133 244)
}
.blog {
    font-size: x-large;
}
#blog {
    background-color: dimgrey;
}
.blogh1 {
    text-align: left;
    margin-top: 20px;
}